* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h3 {
    font-family: 'Oswald', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.sectionHeading {
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 45px;
}

.name {
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}

.navLink {
    text-decoration: none;
    color: white;
}

.navbar {
    height: 40px;
    background-color: #708090;

}
.navItemsGroup {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 5px;

}

.navItemsGroup > li {
    margin-top: 22px;
}

.navLink {
    padding-left: 10px;
}

#hero {
    text-align: center;
    font-size: 25px;
    background-color: #CCCCCC;
    margin-top: 5%;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    padding: 8% 0;
}

header {
    display: flex;
    align-items: center;
    padding: 5px;
}

.portrait {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 5px;
}

#projects {
    background-color: #CCCCCC;
    border-radius: 10px;
    padding: 4% 0;
}

#bio {
    padding: 8% 0;
}

.project {
    padding: 15px;
    text-align: center;
}

.mtc {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.comingSoonText {
    text-align: center;
    max-width: 500px;
}

.project a {
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: underline;
    color: blue;
}

img.projectPic {
    border-radius: 10px;
    height: 215px;
    width: 225px;
}

#social {
    margin-bottom: 10%;
    border-radius: 10px;
    background-color: #CCCCCC;
    padding: 8% 0;
}

#contact {
    padding: 8% 0;
}

.project p {
    text-align: justify;
    text-justify: auto;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 30px;
    font-size: 16px;

}

#bio p {
    text-align: left;
    padding: 10px;
    line-height: 40px;
    font-size: 20px;

}

.socialItems li {
    list-style-type: none;
    display: inline;
    padding: 5px;
    margin-right: 30px;
}

#contact,
#social,
h2 {
    text-align: center;
}

.GHLogo {
    height: 40px;
    width: 40px;
}

.LILogo {
    height: 35px;
    width: 40px;
}

li {
    list-style: none;
}

footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 10px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    font-family: 'Oswald', sans-serif;
}

#craftedBy {
    font-size: 15px;
}

#name {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 25px;
}
@media only screen and (min-width: 1000px) {

    .flexContainer3,
    .row {
        display: flex;
        justify-content: space-around;

    }

    .flexContainer3 {
        justify-content: space-around;
        margin-top: 10%;
        margin-bottom: 0;
        height: 500px;
    }

    .bio p {
        padding-left: 20px;
        padding-right: 20px;
        text-align: justify;
    }

    #bio {
        margin-left: 8%;
        margin-right: 8%;
    }

    .projectDetails {
        max-width: 500px;

    }

    nav {
        max-height: 43px;
    }

    .menu {
        display: none;
    }

    .navItemsGroup > li {
        margin-top: 14px;
        margin-right: 10px;
        font-size: 22px;
        color: white;
    }

    .emailButton {
        font-size: 16px;
        border-radius: 2px;
    }

    #social {
        background-color: white;
        border-radius: 0;
    }

    #hero {
        font-size: 30px;
    }

    h2 {
        font-size: 32px;
    }

    img.projectPic {
        height: 315px;
        width: 400px;

    }

    #projectsContainer {
        margin-left: auto;
        margin-right: auto;
    }

    footer {
        margin-top: 100px;
        background-color: #CCCCCC;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
    }

}
